<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/all.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="banner" style="background: ulr('./img/底色.png');">
                <img src="./img/Vector1.png" class="wave1" alt="">
                <img src="./img/Vector2.png" class="wave2" alt="">
                <img src="./img/Vector3.png" class="wave3" alt="">
                <div class="banner-item">
                    <h1>
                        There is no one <br>
                        <span>who loves pain</span> 
                    </h1>
                    <button type="button" class="btn">FORM</button>
                </div>
                <div class="banner-text">
                    <Transition  name="bubble" mode="out-in" >
                        <img src="./img/泡泡大.svg" v-if="bubble" class="bubble" alt="">
                    </Transition>
                    <img src="./img/sup.png" class="boat" alt="">
                    <Transition  name="boat-stransition" mode="in-out" >
                        <img src="./img/船槳.png" class="boat-tool"  v-if="tool" alt="">
                    </Transition>
                    <img src="./img/sup煙火.png" class="sup" alt="">
                    <Transition  name="supboon" mode="in-out" >
                        <img src="./img/煙火.svg" class="Vector"  v-if="Vector" alt="">
                    </Transition>
                    <div class="m-bottom">
                        <div class="banner-title">
                            <img src="./img/cactus.png" alt="">
                            <h2>
                                paragraphs
                            </h2>
                            <img src="./img/cactus.png" alt="">
                        </div>
                        <ul class="banner-list">
                            <li>
                                1.  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </li>
                        </ul>
                    </div>
                    <div>
                        <div class="banner-title"> 
                            <img src="./img/cactus.png" alt="">
                            <h2>
                                paragraphs
                            </h2>
                            <img src="./img/cactus.png" alt="">

                        </div>
                        <ul class="banner-list">
                             <li>1.  Quisque sodales leo vitae vulputate auctor.</li>
                             <li>2.  Proin ac justo ut nisl tincidunt imperdiet.Maecenas viverra libero a pellentesque blandit.</li>
                             <li>3.  Cras tristique tellus id leo bibendum, eu dapibus nisl accumsan.</li>
                             <li>4.  Donec ultrices sapien vitae leo venenatis ullamcorper.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="wave-repet">
                <img :style="{ transform: `translateX(${wave1position}%)` }" src="./img/海浪.png" class="image1" alt="">
                <img :style="{ transform: `translateX(${wave2position}%)` }" src="./img/海浪.png" class="image2" />
            </div>

            <section class="content">
                
                    <form> 
                        <div class="form" >
                            <button class="form-top-button">FORM</button>
                            <label for="store">store <span>*</span></label><br>
                            <input type="text" id="store" placeholder="placeholder text" list="storeList" required>
                            <datalist id="storeList">
                              <option value="store1">
                              <option value="store2">
                              <option value="store3">
                            </datalist>                        
                            <label for="name">name <span>*</span></label><br>
                            <input type="text" id="name" placeholder="placeholder text" required>
                            <label for="phone">phone <span>*</span></label><br>
                            <input type="tel" id="phone" placeholder="placeholder text" pattern="09[0-9]{8}" maxlength="10" required>
                            <label for="number">Amount of consumption<span>*</span></label><br>
                            <input type="number" id="number" placeholder="placeholder text" min="0" max="10" required>
                            <label for="store">payment <span>*</span></label><br>
                            <select name="store" id="store"  placeholder=" placeholder text" required>
                                <option selected>digital payment</option>
                                <option value="ATM">ATM</option>
                            </select>
                        </div>
                        <button  type="submit">submit</button>
                    </form>
                    
            </section>

            <section class="bage-content">
                <ul>
                    <li><span class="bage">A</span><p class="bage-btn">ONE</p><img src="./img/certificateA.png" alt=""><div class="bage-content-text1"><p>dehumidifier</p></div></li>
                    <li><span class="bage">B</span><p class="bage-btn">ONE</p><img src="./img/certificateA.png" alt=""><div class="bage-content-text1"><p>range hood</p></div></li>
                    <li><span class="bage">C</span><p class="bage-btn">ONE</p><img src="./img/certificateA.png" alt=""><div class="bage-content-text1"><p>vacuum cleaner</p></div></li>
                    <li><span class="bage">D</span><p class="bage-btn">ONE</p><img src="./img/certificateD.png" alt=""><div class="bage-content-text"><p>toaster</p></div></li>
                    <li><span class="bage">E</span><p class="bage-btn">ONE</p><img src="./img/certificateD.png" alt=""><div class="bage-content-text"><p>scale</p></div></li>
                    <li><span class="bage">F</span><p class="bage-btn">ONE</p><img src="./img/certificateD.png" alt=""><div class="bage-content-text"><p>straightening iron</p></div></li>
                    <li><span class="bage">G</span><p class="bage-btn">FIVE</p><img src="./img/certificateD.png" alt=""><div class="bage-content-text"><p>vacuum cleaner</p></div></li>
                    <li><span class="bage">H</span><p class="bage-btn">TEN</p><img src="./img/certificateD.png" alt=""><div class="bage-content-text"><p>rice cooker</p></div></li>
                </ul>
            </section>

            <section class="boat-section">
                <p class="boat-font">
                    <span style="color:#B57556;">13.32</span> <br>
                    who seeks after it and <br>
                    wants to have it
                </p>
                <img style="margin-top: 20px;" src="./img/lighthouse.png" alt="">
            </section>

            <section style="background-color: #E5E5E5;">
                <div class="house-section">
                    <p>
                        Neque porro quisquam <br>
                        est qui dolorem!
                    </p>
                    <img src="./img/market.png" alt="">
                </div>
            </section>
        </div>
        
    </div>
</body>

<script>
    const app = Vue.createApp({
        data() {
            return {
                show: false,
                text:'123',
                wave1position:0,
                wave2position:-100,
                bubble:false,
                tool:false,
                Vector:false,
            }
        },
        methods: { 
            animate(){
                requestAnimationFrame(() => {
                    this.wave1position+=0.5;
                    if (this.wave1position == 100) {
                        this.wave1position = 0 
                    }
                    this.animate() 
                })
            },
            animate2(){
                requestAnimationFrame(() => {
                    this.wave2position+= 0.5;
                    if (this.wave2position == 0) {
                        this.wave2position = -100 
                    }
                    this.animate2()
                })
            },
            showbubble(){
                this.bubble = !this.bubble;
            },
            toolstr() {
                this.tool = !this.tool;
            },
            VectorBoon(){
                this.Vector = !this.Vector;
            }
        },
        mounted() {
            this.animate()
            this.animate2();
            setInterval(() => {
                this.showbubble();
                this.toolstr();
            }, 3000);
            setInterval(() =>{
                this.VectorBoon();
            },4000)
        },
        
    })

    app.mount('#app')
</script>
</html>
